			*{margin:0px;padding: 0px;}/*内外边距*/
			a{text-decoration: none;}/*a标签的下划线*/
			li{list-style: none;}
			img{border: none;vertical-align: center;}
			.container{
				position: relative;
			}
						/*普通导航头部样式*/
			.normal-index-header{
				display: block;
			}
			.normal-index-header .content-left{
				position: absolute;
				top: 0px;left: 12px;
				height: 100px;
			}
			.normal-index-header .content-left .icon-box{
				cursor: pointer;
				line-height: 100px;
				display: inline-block;
			}
			.normal-index-header .content-left #divde{
				line-height: 20px;
				font-size: 14px;
				padding: 0px 15px;
				color: gray;
			}
			.normal-index-header .content-left img{
				vertical-align: middle;
				display: inline-block;
			}
			.normal-index-header .content-left a{
				color:#999999;
			}
			
			
			/*普通头部logo展示样式*/
			.normal-index-header .content-center{
				width: 950px;height: 100%;
				margin: 0 auto;
			}
			.normal-index-header .content-center .middle-top{
				width: 100%;height: 100px;
				line-height: 100px;
			}
			.normal-index-header .content-center .middle-top img{
				width: 241px;height: 38px;
				vertical-align: middle;
			}
			
			/*普通头部菜单样式*/
			.normal-index-header .content-center .middle-bottom{
				width: 100%;height: 40px;
			}
			.normal-index-header .content-center .middle-bottom .tab-name{
				margin: 0px 18px;
				display: inline-block;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 15px;
			}
			.normal-index-header .content-center .middle-bottom .tab-name a{
				color: #222222;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .title{
				font-size: 16px;
				font-weight: 700;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab .tab-first,.tab-second{
				display: inline-block;
				width: 25%;
				float: left;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab .tab-last{
				display: inline-block;
				width: 50%;
				float: right;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab .tab-last img{
				width: 95%;
				margin-top: 40px;
			}
			.normal-index-header .content-center .middle-bottom .tab-name:hover{
				border-bottom: 2px solid #222222;
			}
			.normal-index-header .content-center .middle-bottom .tab-name:hover a{
				text-decoration: none;
			}
			
			/*普通头部二级菜单样式*/
			.normal-index-header .content-center .middle-bottom .tab-name:hover .second-tab{
				display: block;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab{
				display: none;
				padding: 10px 10px 10px 80px;
				text-align: left;
				position: absolute;
				top: 140px;left: 30px;
				height: 400px;width: 95%;
				background: white;
				cursor: auto;
				z-index: 1000;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab a{
				font-size: 12px;
				color: #999;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab a:hover{
				text-decoration: none;
			}
			/*热门搜索居中展示样式*/
			.normal-index-header .content-center .active-input{
				position: absolute;
				display: none;
				bottom: 0px;left: 50%;
				margin-left: -490px;
				width: 980px;
				height: 40px;
				z-index: 1000;
			}
			.normal-index-header .content-center .active-input .rm-search-input{
				width: 900px;
				padding: 6px 10px;
				margin: 0 auto;
				line-height: 28px;
				border: none;
				outline: none;
			}
			.normal-index-header .content-center .active-input .icon{
				display: inline-block;
				width: 40px;height: 40px;
				cursor: pointer;
				line-height: 40px;
			}
			.normal-index-header .content-center .active-input .icon img{
				display: inline-block;
				width: 16px;height: 16px;
			}
			.normal-index-header .content-center .rm-show{
				position: absolute;
				display: none;
				top: 143px;left: 50%;
				margin-left: -490px;
				width: 980px;
				opacity: 0.8;
				z-index: 1000;
				background: #999999;
			}
			.normal-index-header .content-center .rm-show p{
				padding: 10px 20px;
			}
			
			/*普通头部右边样式*/
			.normal-index-header .content-right{
				position: absolute;
				top: 0px;right:13px;
				height: 100px;
			}
			.normal-index-header .content-right .right-top{
				width: 350px;
				line-height: 100px;
				text-align: right;
			}
			.normal-index-header .content-right .right-top a{
				color:#999999;
				text-decoration: none;
			}
			.normal-index-header .content-right .top-list{
				display: inline-block;
				height: 100px;
				margin-right: 35px;
				line-height: 100px;
				font-size: 15px;
			}
			.normal-index-header .content-right .top-right{
				margin-right: 0px;
			}
			.normal-index-header .content-right .top-list img{
				width: 17px;height: 17px;
				vertical-align: middle;
			}
			.normal-index-header .content-right .top-list .cart-number{
				margin-left: 2px;
				display: inline-block;
				line-height: 100px;
				font-size: 12px;
			}
			.normal-index-header .content-right .right-bottom{
				width: 240px;
				position: absolute;
				right: 0px;
			}
			.normal-index-header .content-right .right-bottom .bottom-box{
				width: 240px;
				position: relative;
			}
			.normal-index-header .content-right .right-bottom .bottom-box .bottom-img{
				position: absolute;
				top: 0px;right: 0px;
				width: 30px;height: 30px;
				text-align: center;
				line-height: 30px;
			}
			.normal-index-header .content-right .right-bottom .bottom-box .input-right{
				width: 240px;height: 30px;
				padding-right: 30px;
				padding-left: 10px;
				font-size: 12px;
				color: #888;
				outline: none;
				border: 1px solid #EFEFEF;
			}
			
			/*滚轮导航样式*/
			.scrolled-index-header{
				display: none;
				width: 100%;height: 80px;
				background: #222;
				z-index: 100;
			}
			.scrolled-index-header .scrolled-warp{
				width: 1100px;height: 80px;
			}
			.scrolled-index-header .scrolled-warp .scrolled-logo{
				display: inline-block;
				width: 223px;height: 35px;
				line-height: 80px;
			}
			.scrolled-index-header .scrolled-warp .scrolled-logo img{
				vertical-align: middle;
			}
			.scrolled-index-header .scrolled-warp .warp-search{
				position: absolute;
				width: 35%;height: 30px;
				top: 50%;left: 50%;
				margin-left: -210px;
				margin-top: -15px;
			}
			.scrolled-index-header .scrolled-warp .warp-rm-show{
				display: none;
				position: absolute;
				width: 35%;height: 30px;
				top: 50%;left: 50%;
				margin-left: -210px;
				margin-top: 16px;
				background: white;
				opacity: 0.8;
				z-index: 10000;
			}
			.scrolled-index-header .scrolled-warp .warp-rm-show p{
				padding: 10px 20px;
			}
			.scrolled-index-header .scrolled-warp .warp-search .input-warp{
				position: relative;
				height: 100%;
			}
			.scrolled-index-header .scrolled-warp .warp-search .input-warp .search-input{
				padding-left: 10px;
				padding-right: 40px;
				width: 100%;
				height: 100%;
				outline: none;
				border: none;
			}
			.scrolled-index-header .scrolled-warp .warp-search .input-warp .input-logo{
				position: absolute;
				top: 6px;right: 12px;
				height: 16px;width: 16px;
				line-height: 30px;
				text-align: center;
			}
			.scrolled-index-header .scrolled-warp .right-warp{
				position: absolute;
				top: 0px;right: 0px;
				height: 80px;
				width: 300px;height: 80px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list{
				display: inline-block;
				float: left;
				height: 80px;
				margin: 0px 4px;
				line-height: 80px;
				font-size: 15px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginbefore{
				position: absolute;
				right: 110px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginafte{
				position: absolute;
				right: 300px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginafter a{
				font-size: 14px;
				text-decoration: none;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginafter .out{
				font-size: 12px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .coll{
				position: absolute;
				right: 35px;
				width: 30px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .cart{
				margin-right: 10px;
				width: 30px; 
				position: absolute;
				right: 0px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list .cart-number{
				margin-left: 2px;
				display: inline-block;
				line-height: 80px;
				font-size: 12px;
				color: white;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list span{
				color: #E0E0E0;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list a{
				color: #C9C9C9;
			}
			/*尾部联系我们样式*/
		    .footer{
		   		width: 100%;height: 347px;
		   		padding: 50px 15px;
		   		background: #222222;
		    }
		    .footer .footer-left{
		   		float: left;
		   		width: 67.3%;
		    }
		    .footer .footer-left .title{
		    	font-size: 16px;
		    	color: white;
		    }
		    .footer .footer-left a.link{
		    	display: block;
		    	height: 17px;
		    	margin-top: 20px;
		    	font-size: 12px;
		    	color: #999;
		    } 
		    .footer-right{
		    	width: 32.7%;
		    	float: left;
		    }
		    .footer-right .right-top{
		    	font-size: 16px;
		    }
		    .footer-right .right-top span{
		    	color: white;
		    	margin-right: 40px;
		    }
		    .footer-right .right-top img{
		    	width: 18px;height: 14.4px;
		    	margin-right: 20px;
		    }
		    .footer-right .right-middle .middle-form{
		    	display: block;
		    	margin: 30px 0px 10px 0px;
		    	position: relative;
		    	width: 360px;
		    }
		    .footer-right .right-middle .middle-form .middle-input{
		    	width: 280px;
		    	padding: 10px 50px 10px 30px;
		    	underline: none;
		    }
		    .footer-right .right-middle .middle-form img{
		    	position: absolute;
		    	left: 6px;top: 6px;
		    	width: 18px;height: 12px;
		    	margin-right: 20px;
		    }
		    .footer-right .right-middle .middle-form button{
		    	display: inline-block;
		    	position: absolute;
		    	right: 80px;
		    	font-size: 12px;
		    	font-weight: 700;
		    	width: 50px;height: 24px;
		    	outline: none;
		    	border: none;
		    	background: blueviolet;
		    	color: white;
		    }
		    .footer-right .right-bottom p{
		    	color: #999;
		    	font-size: 12px;
		    }
			.footer-right .right-bottom img{
				display: block;
				float: left;
				width: 16px;height: 16px;
				vertical-align: middle;
				margin: 2px;
			}
			.footer-right .right-bottom .rb-div{
				display: inline-block;
				float: right;
				width: 80%;
			}
			.footer-right .right-bottom .title{
		    	font-size: 16px;
		    	color: white;
		    }
		    
		    /*尾部公司信息样式*/
		    .footer-bottom{
		    	position: relative;
		    	line-height: 50px;
		    	width: 100%;height: 50px;
		   		padding: 0px 15px;
		   		margin-top: 1px;
		   		background: #222222;
		    }
		    .footer-bottom .left span{
		    	color: #999;
		    }
		    .footer-bottom .right .info{
		    	position: absolute;
		    	right: 0px;
		    	width: 650px;
		    	color: #999
		    }
		    .footer-bottom .right a{
		    	margin-right: 10px
		    }
		    
		    /*跳转至顶部样式*/
		   .box{
				width: 50px;
				height: 50px;
				background: gray;
				position: fixed;
				right: 120px;
				bottom: 100px;
				display: none;
				border-radius: 50%;
				line-height: 50px;
				text-align: center;
				font-size: 20px;
				color: white;
				cursor: pointer;
				z-index: 1000;
			}
		