/*全局样式*/
			a{
				text-decoration: none;
				color: gray;
			}
			*{
				margin: 0px;padding: 0px;
			}
			li{
				list-style: none;
			}
			.container{
				position: relative;
			}
			/*.affix{
				position: absolute;
				top: 0px;left: 0px;
				height: 80px;
				background: #000000;
				z-index: 1000;
			}*/
			
			/*普通导航头部样式*/
			.normal-index-header{
				display: block;
			}
			.normal-index-header .content-left{
				position: absolute;
				top: 0px;left: 12px;
				height: 100px;
			}
			.normal-index-header .content-left .icon-box{
				cursor: pointer;
				line-height: 100px;
				display: inline-block;
			}
			.normal-index-header .content-left #divde{
				line-height: 20px;
				font-size: 14px;
				padding: 0px 15px;
				color: gray;
			}
			.normal-index-header .content-left img{
				vertical-align: middle;
				display: inline-block;
			}
			
			/*普通头部logo展示样式*/
			.normal-index-header .content-center{
				width: 950px;height: 100%;
				margin: 0 auto;
			}
			.normal-index-header .content-center .middle-top{
				width: 100%;height: 100px;
				line-height: 100px;
			}
			.normal-index-header .content-center .middle-top img{
				width: 241px;height: 38px;
				vertical-align: middle;
			}
			
			/*普通头部菜单样式*/
			.normal-index-header .content-center .middle-bottom{
				width: 100%;height: 40px;
			}
			.normal-index-header .content-center .middle-bottom .tab-name{
				margin: 0px 18px;
				display: inline-block;
				height: 40px;
				line-height: 40px;
				text-align: center;
				font-size: 15px;
			}
			.normal-index-header .content-center .middle-bottom .tab-name a{
				color: #222222;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .title{
				font-size: 16px;
				font-weight: 700;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab .tab-first,.tab-second{
				display: inline-block;
				width: 25%;
				float: left;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab .tab-last{
				display: inline-block;
				width: 50%;
				float: right;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab .tab-last img{
				width: 95%;
				margin-top: 40px;
			}
			.normal-index-header .content-center .middle-bottom .tab-name:hover{
				border-bottom: 2px solid #222222;
			}
			.normal-index-header .content-center .middle-bottom .tab-name:hover a{
				text-decoration: none;
			}
			
			/*普通头部二级菜单样式*/
			.normal-index-header .content-center .middle-bottom .tab-name:hover .second-tab{
				display: block;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab{
				display: none;
				padding: 10px 10px 10px 80px;
				text-align: left;
				position: absolute;
				top: 140px;left: 30px;
				height: 400px;width: 95%;
				background: white;
				cursor: auto;
				z-index: 1000;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab a{
				font-size: 12px;
				color: #999;
			}
			.normal-index-header .content-center .middle-bottom .tab-name .second-tab a:hover{
				text-decoration: none;
			}
			
			/*热门搜索居中展示样式*/
			.normal-index-header .content-center .active-input{
				position: absolute;
				display: none;
				bottom: 0px;left: 50%;
				margin-left: -490px;
				width: 980px;
				height: 40px;
				z-index: 1000;
			}
			.normal-index-header .content-center .active-input .rm-search-input{
				width: 900px;
				padding: 6px 10px;
				margin: 0 auto;
				line-height: 28px;
				border: none;
				outline: none;
			}
			.normal-index-header .content-center .active-input .icon{
				display: inline-block;
				width: 40px;height: 40px;
				cursor: pointer;
				line-height: 40px;
			}
			.normal-index-header .content-center .active-input .icon img{
				display: inline-block;
				width: 16px;height: 16px;
			}
			.normal-index-header .content-center .rm-show{
				position: absolute;
				display: none;
				top: 143px;left: 50%;
				margin-left: -490px;
				width: 980px;
				opacity: 0.8;
				z-index: 1000;
				background: #999999;
			}
			.normal-index-header .content-center .rm-show p{
				padding: 10px 20px;
			}
			
			/*普通头部右边样式*/
			.normal-index-header .content-right{
				position: absolute;
				top: 0px;right:13px;
				height: 100px;
			}
			.normal-index-header .content-right .right-top{
				width: 350px;
				line-height: 100px;
				text-align: right;
			}
			.normal-index-header .content-right .loginafter{
				display: inline-block;
				height: 100px;
				margin-right: 35px;
				line-height: 100px;
				font-size: 15px;
			}
			.normal-index-header .content-right .loginafter a{
				font-size: 14px;
				text-decoration: none;
			}
			.normal-index-header .content-right .loginafter .out{
				font-size: 12px;
			}
			.normal-index-header .content-right .top-list{
				display: inline-block;
				height: 100px;
				margin-right: 35px;
				line-height: 100px;
				font-size: 15px;
			}
			.normal-index-header .content-right .top-right{
				margin-right: 0px;
			}
			.normal-index-header .content-right .top-list img{
				width: 17px;height: 17px;
				vertical-align: middle;
			}
			.normal-index-header .content-right .top-list .cart-number{
				margin-left: 2px;
				display: inline-block;
				line-height: 100px;
				font-size: 12px;
			}
			.normal-index-header .content-right .right-bottom{
				width: 240px;
				position: absolute;
				right: 0px;
			}
			.normal-index-header .content-right .right-bottom .bottom-box{
				width: 240px;
				position: relative;
			}
			.normal-index-header .content-right .right-bottom .bottom-box .bottom-img{
				position: absolute;
				top: 0px;right: 0px;
				width: 30px;height: 30px;
				text-align: center;
				line-height: 30px;
			}
			.normal-index-header .content-right .right-bottom .bottom-box .input-right{
				width: 240px;height: 30px;
				padding-right: 30px;
				padding-left: 10px;
				font-size: 12px;
				color: #888;
				outline: none;
				border: 1px solid #EFEFEF;
			}
			
			/*滚轮导航样式*/
			.scrolled-index-header{
				display: none;
				width: 100%;height: 80px;
				background: #222;
				margin-top: -31px;
				z-index: 100;
			}
			.scrolled-index-header .scrolled-warp{
				width: 1100px;height: 80px;
			}
			.scrolled-index-header .scrolled-warp .scrolled-logo{
				display: inline-block;
				width: 223px;height: 35px;
				line-height: 80px;
			}
			.scrolled-index-header .scrolled-warp .scrolled-logo img{
				vertical-align: middle;
			}
			.scrolled-index-header .scrolled-warp .warp-search{
				position: absolute;
				width: 35%;height: 30px;
				top: 50%;left: 50%;
				margin-left: -210px;
				margin-top: -15px;
			}
			.scrolled-index-header .scrolled-warp .warp-rm-show{
				display: none;
				position: absolute;
				width: 35%;height: 30px;
				top: 50%;left: 50%;
				margin-left: -210px;
				margin-top: 16px;
				background: white;
				opacity: 0.8;
				z-index: 10000;
			}
			.scrolled-index-header .scrolled-warp .warp-rm-show p{
				padding: 10px 20px;
			}
			.scrolled-index-header .scrolled-warp .warp-search .input-warp{
				position: relative;
				height: 100%;
			}
			.scrolled-index-header .scrolled-warp .warp-search .input-warp .search-input{
				padding-left: 10px;
				padding-right: 40px;
				width: 100%;
				height: 100%;
				outline: none;
				border: none;
			}
			.scrolled-index-header .scrolled-warp .warp-search .input-warp .input-logo{
				position: absolute;
				top: 6px;right: 12px;
				height: 16px;width: 16px;
				line-height: 30px;
				text-align: center;
			}
			.scrolled-index-header .scrolled-warp .right-warp{
				position: absolute;
				top: 0px;right: 0px;
				height: 80px;
				width: 300px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list{
				display: inline-block;
				height: 80px;
				margin-right: 35px;
				line-height: 80px;
				font-size: 15px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginbefore{
				position: absolute;
				right: 110px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginafte{
				position: absolute;
				right: 200px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginafter a{
				font-size: 14px;
				text-decoration: none;
			}
			.scrolled-index-header .scrolled-warp .right-warp .loginafter .out{
				font-size: 12px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .coll{
				position: absolute;
				right: 30px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .cart{
				margin-right: 10px; 
				position: absolute;
				right: 0px;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list .cart-number{
				margin-left: 2px;
				display: inline-block;
				line-height: 80px;
				font-size: 12px;
				color: white;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list span{
				color: #E0E0E0;
			}
			.scrolled-index-header .scrolled-warp .right-warp .right-list a{
				color: #C9C9C9;
			}
			

		    /*尾部联系我们样式*/
		    .footer{
		   		width: 100%;height: 347px;
		   		padding: 50px 15px;
		   		background: #222222;
		    }
		    .footer .footer-left{
		   		float: left;
		   		width: 67.3%;
		    }
		    .footer .footer-left .title{
		    	font-size: 16px;
		    	color: white;
		    }
		    .footer .footer-left a.link{
		    	display: block;
		    	height: 17px;
		    	margin-top: 20px;
		    	font-size: 12px;
		    	color: #999;
		    } 
		    .footer-right{
		    	width: 32.7%;
		    	float: left;
		    }
		    .footer-right .right-top{
		    	font-size: 16px;
		    }
		    .footer-right .right-top span{
		    	color: white;
		    	margin-right: 40px;
		    }
		    .footer-right .right-top img{
		    	width: 18px;height: 14.4px;
		    	margin-right: 20px;
		    }
		    .footer-right .right-middle .middle-form{
		    	display: block;
		    	margin: 30px 0px 10px 0px;
		    	position: relative;
		    	width: 360px;
		    }
		    .footer-right .right-middle .middle-form .middle-input{
		    	width: 280px;
		    	padding: 10px 50px 10px 30px;
		    	underline: none;
		    }
		    .footer-right .right-middle .middle-form img{
		    	position: absolute;
		    	left: 6px;top: 16px;
		    	width: 18px;height: 12px;
		    	margin-right: 20px;
		    }
		    .footer-right .right-middle .middle-form button{
		    	display: inline-block;
		    	position: absolute;
		    	right: 80px;
		    	font-size: 12px;
		    	font-weight: 700;
		    	width: 50px;height: 44px;
		    	outline: none;
		    	border: none;
		    	background: blueviolet;
		    	color: white;
		    }
		    .footer-right .right-bottom p{
		    	color: #999;
		    	font-size: 12px;
		    }
			.footer-right .right-bottom img{
				display: block;
				float: left;
				width: 16px;height: 16px;
				vertical-align: middle;
				margin: 2px;
			}
			.footer-right .right-bottom .rb-div{
				display: inline-block;
				float: right;
				width: 80%;
			}
			.footer-right .right-bottom .title{
		    	font-size: 16px;
		    	color: white;
		    }
		    
		    /*尾部公司信息样式*/
		    .footer-bottom{
		    	position: relative;
		    	line-height: 50px;
		    	width: 100%;height: 50px;
		   		padding: 0px 15px;
		   		margin-top: 1px;
		   		background: #222222;
		    }
		    .footer-bottom .left span{
		    	color: #999;
		    }
		    .footer-bottom .right .info{
		    	position: absolute;
		    	right: 0px;
		    	width: 650px;
		    	color: #999
		    }
		    .footer-bottom .right a{
		    	margin-right: 10px
		    }
		    
		    /*跳转至顶部样式*/
		   .box{
				width: 50px;
				height: 50px;
				background: gray;
				position: fixed;
				right: 120px;
				bottom: 100px;
				display: none;
				border-radius: 50%;
				line-height: 50px;
				text-align: center;
				font-size: 20px;
				color: white;
				cursor: pointer;
				z-index: 1000;
			}
			/**/
/*商品详情模块*/
#info{
	position: relative;
	height: 650px;
	margin-top: 30px;
	border-top: 1px solid #C9C9C9;
}
.info-l .big{
	position: relative;
	width: 400px;
}
.info-l .big>img{
	width: 100%;
	height:500px;
}
.info-l .big>img:after{
	content:'';
	display: block;
	clear: both;
}
/*鏀惧ぇ闀�*/
	.subinfo{
		height: 100px;
		width: 100px;
		position: absolute;
		background-color: rgba(0,0,0,0.7);
		left: 0px;
		top: 0px;
		display: none;
	}
	.subinfo-show{
		height: 400px;
		width: 300px;
		position: absolute;
		left: 410px;
		top: 40px;
		display: none;
		background: url(../img/2.jpg) no-repeat;
		background-size:700px 700px;
		background-position: -0px 0px;
		z-index: 10;
	}

/**/
.info-l{
	width: 400px;
	height: 600px;
	float: left;
}
.info-l>p>img{
	height: 500px;	
}
.info-l>ul li{
	height: 90px;
	width: 90px;
	float: left;
}
.info-l>ul span{
	display: block;
	float: left;
	margin-top:40px;
}
.info-l>ul li>img{
	height: 90px;
	width: 90px;
}
.info-r{
	width: 500px;
	height: 550px;
	padding-top: 50px;
	left: 650px;
	top: 0;
	float:left;
	position: absolute;
}
.info-r>p>span{
	display: block;
	float: right;
}
.info-r>h5{
	color: #999999;
}
.info-r>ul{
	height:40px;
}
.info-r>ul a{
	display: block;
	height: 40px;
	width: 40px;
	float: left;
	margin-right:40px;
}
.info-r>ul a button{
	color:while;
	width:70px;
	height:35px;
}
.info-r>p{
	text-align:left;
}
.info-r>p>button{
	margin-left: 20px;
}
.info-r>h6{
	font-size: 14px;
}
.info-r>h6>span{
	text-align: center;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left:15px;
	font-size: 16px;
	cursor: pointer;
	border:1px solid black;
}
.info-r>a>button{
	width: 180px;
	margin-right: 40px;
}
.info-r>h4{
	font-size: 11px;
	line-height: 20px;
}
.info-r>h3{
	font-size: 12px;
	float: left;
	width: 100%;
}
.info-r>h3>p{
	float: right;
}
.info-r>h3>p img{
	margin-right: 10px;
	
}
.info-r>h3>span{
	cursor: pointer;
}
/*妯＄壒鍧�*/
#model{
	width: 1200px;
	margin:auto auto;	
}
#model>img{
	display:block;
	width: 1200px;	
}
/*浜у搧妯″潡*/
#produ{
	padding-top: 80px;
}
.produ-l{
	width: 50%;
	float: left;
}
.produ-l>img{
	width: 500px;
}
.produ-r{
	width: 50%;
	float: right;
	padding-left: 100px;
	
}
.produ-r>h3{
	line-height:35px;
}
.produ-list ul{
	font-size: 10px;
	float:left;
	width: 30%;
	height: 250px;
	line-height: 30px;
}
.produ-list ul li{
	width: 100px;
}
/*灏哄妯″潡*/
#size>img{
	width: 100%;
}
#size>button{
	float: right;
	margin-right:90px;
}
/**/
.size-bot{
	width: 100%;
	height: 500px;
	padding-top: 50px;
}
.size-bot>span{
	width: 25%;
	float: left;
	position:relative;
}

/*瀛愭ā鍧�*/
.subsize-bot{
	width:90%;
	height: 400px;
	position: absolute;
	left: 20px;
	bottom: 0px;
	background-color:rgba(0,0,0,0.3);
	text-align: center;
}
.subsize-bot span{
	display: block;
	height: 200px;
	width: 200px;
	margin:180px auto 0px;
	color: white;
	font-size: 18px;
}
.subsize-bot span:hover{
	margin-top: 140px;
}
.subsize-bot span>h6{
	display: none;	
}
.subsize-bot>span>img{
	width: 50px;
	height: 50px;
}
.subsize-bot>span>p{
	width: 200px;
	font-size: 15px;
}
/*涓烘偍鎺ㄨ崘妯″潡*/
#remcommend{
	width: 1200px;
	height: 450px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#remcommend>hr{
	display: block;
	width: 300px;
	margin:30px auto 0px;
	/*height:50px;*/
	border-top: 1px solid #999999;
}
/*瀛愭ā鍧�*/
#remcommend .subremo{
	height: 50px;
	width: 100px;
	position: absolute;
	left:550px;
	top: 40px;
	background-color: white;
}
#remcommend ul>a>li{
	width: 25%;
	height: 300px;
	float: left;
	position: relative;
}
#remcommend ul>a>li>img{
	height: 300px;
}
/*瀛愭ā鍧楁弿杩�*/
#remcommend ul a li>.subremcom-list{
	font-size:10px;
	color:#080808;
	height: 100px;
	width:200px;
	position: absolute;
	left: 45px;
	bottom:-40px;
	background-color: white;
	display: none;
	line-height:15px;
	padding-top: 10px;
}
#remcommend ul a li:hover .subremcom-list{
	display: block
}
/*鐚滄偍鍠滄妯″潡*/
#like{
	width:100%;
	background-color: #E6E6E6;
}
.like-bg{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
	position: relative;	
	padding-top: 30px;
}
.like-bg>hr{
	display: block;
	width: 300px;
	margin:30px auto;
	border-top: 1px solid #999999;
}
/*瀛愭ā鍧�*/
#like .sublike{
	height: 50px;
	width: 100px;
	position: absolute;
	left:550px;
	top:90px;
	background-color: #E6E6E6;
}
#like ul{
	position:relative;
	height: 370px;
}
#like ul>li{
	width:1210;
	height: 370px;
	position: absolute;
	overflow: hidden;
	display:none;
}
#like ul .currnt{
	display: block;
}

.like-bg>ul>li>a{
	height:350px;
	width:300px;	
	float: left;
	position:relative;
}
.like-bg ul li a img{
	height: 350px;
	width: 290px;
}

.like-bg ul li a>.sublike-list{
	font-size:11px;
	color:#080808;
	height: 95px;
	width:290px;
	position: absolute;
	left:5px;
	bottom:-10px;
	background-color: rgba(0,0,0,0.6);
	color: white;
	display: none;
	line-height:15px;
	padding-top: 10px;
}
.like-bg ul li a:hover .sublike-list{
	display: block
}
 /*灏忓渾鍦�*/
.like-bg>span{
	display: inline-block;
	height: 12px;
	width:12px;
	background-color: white;
	border-radius: 50%;
	margin-left: 10px;
}
.like-bg .active{
	background-color:#000000;
}