			
#info{
	width: 100%;
	background-color: #E6E6E6;
	padding-top:30px;
}
#info>.info-addr-content{
	width:1200px;
	margin: 0 auto;
}
#info>.info-addr-content:after{
	content:'';
	display:block;
	clear:both;
}
#info>.info-bg{
	width: 1200px;
	margin:0px auto;
}
.info-t>ul{
	height: 20px;
	margin-bottom:20px;
}
.info-t>ul>li{
	width: 80px;
	float: left;
	font-size: 14px;
}

.info-t>ul .icon{
	width: 30px;
}
.info-t>ul .index{
	width:55px;
}

/*左边导航部分*/
#info .info-l{
	height: 350px;
	width: 250px;
	padding-top: 30px;
	background-color: white;
	float:left;
}
#info .info-l ul{
	width: 250px;
}
#info .info-l li{
	width: 250px;
	text-align:center;
	height:50px;
	float: none;
	font-size: 17px;
	line-height: 50px;
	font-size:14px;
	color:black;
}
#info .info-l li a{
	font-size:14px;
	color:black;
}
#info .info-l .active{
	border-left: 2px solid #000000;
	background-color: #E3E3E3;
}
/*右边展示部分*/
.info_r{
	/*height: 800px;*/
	width: 900px;
	background-color: white;
	margin-left:30px;
	float: right;
	padding:40px 70px 60px;
}
.info_r .info_r-list{
	margin-top: 30px;
	height: 35px;
	width:840px;
	border-bottom: 2px solid #E3E3E3;	
}
/*个人信息修改css*/
.info_r ul li{
	width: 800px;
	height: 40px;
	margin-bottom: 20px;
	position: relative;
}
.btn{
	width: 140px;
	height: 40px;
	margin: 0px;
	position: absolute;
	right: 0px;
	font-size: 16px;
}
.btn span{
	font-size: 20px;
}
.info_r .info_r-list .active{
	font-weight: 700;
	border-bottom:2px solid black;
}
.list-lable{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	margin-bottom: 0;
	width: 80px;height: 40px;
}

.info_r ul li input{
	width: 470px;
	height: 40px;
	padding: 6px 12px;
	display: inline-block;
}
.title-about{
	width: 80px;height: 40px;
	font-size: 20px;
	font-weight: bold;
	float: left;
}
.updatePass{
	float: right;
	cursor: pointer;
	border-bottom: 1px solid black;
}
.buttoncun{
	border:none;
	margin-top:20px;
	width: 230px;height: 40px;
	color: #FFFFFF;
	background: #222;
	padding: 0px 12px;
	font-size: 14px;
	position: absolute;
	left: 610px;
	border-radius: 5px;
}
.buttonqu{
	border:1px #333 solid;
	margin-top:20px;
	width: 230px;height: 40px;
	color: #222;
	background: #fff;
	padding: 0px 12px;
	font-size: 14px;
	position: absolute;
	left: 850px;
}
/*选择称谓*/
.help-block{
	position: absolute;
	left: 84px;
	width: 400px;
	height: 40px;
	padding: 6px 12px;
	display: inline-block;
}
.dropdown{
	display: inline-block;
}
.dropdown ul{
	width: 400px;
	height: 80px;
	padding: 6px 12px;
}
.dropdown ul li{
	width: 376px;
	height: 30px;
	margin: 0px;
	padding: 6px 12px;
}
.dropdown ul li:hover{
	background: #999;
}

.addrs-check{
	margin-left: 80px;
	height: 40px;
	position: relative;
}
input[type=checkbox] {
    /*opacity: 0;*/
   color: inherit;
    font: inherit;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
}
.check-about{
	width: 112px;
	height: 20px;
	display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #727272;
    position: absolute;
    top: 10px;
    left: 50px;
}
form{
	margin-bottom: 60px;
}
.addrs-list{
	width: 800px;
	height: 80px;
	border: 1px solid black;
	position: relative;
}
/*称呼*/
.ch-left{
	width: 100px;
	height: 20px;
	text-align: center;
	color: black;
}
.name{
	position: absolute;
	top: 20px;
}
.chengwei{
	position: absolute;
	top: 40px;
}
/*电话*/
.phone{
	width: 214px;
	height: 20px;
	color: #686868;
}
.mbtel{
	position: absolute;
	left: 100px;
	top: 20px;
}
.gdtel{
	position: absolute;
	left: 100px;
	top: 40px;
}
.addrs-message{
	width: 290px;
	height: 40px;
	color: #a3a3a3;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	left: 314px;
	top: 20px;
}
.addrs-default{
	width: 40px;
	height: 20px;
	background: #222222;
	color: white;
	border: none;
	font-size: 12px;
	position: absolute;
	left: 604px;
	top: 30px;
}
.addrs-setdefault{
	width: 80px;
	height: 20px;
	/*background: #222222;*/
	color: #999;
	border: none;
	font-size: 12px;
	position: absolute;
	left: 600px;
	top: 30px;
}
.caozuo{
	position: absolute;
	width: 140px;
	height: 40px;
	left: 644px;
	top: 20px;
	padding: 10px 0px;
}
.addrs-edit{
	width: 18px;
	height: 18px;
	cursor: pointer;
	position: absolute;
	left: 50px;
}
.goods-delete{
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	position: absolute;
	left: 100px;
}
.btn-block a{
	text-decoration: none;
}