			
#info{
	width: 100%;
	background-color: #E6E6E6;
	padding-top:30px;
	padding-bottom:30px;
}

#info>.info-bg{
	width: 1200px;
	margin:0px auto;
}
.info-t>ul{
	height: 20px;
	margin-bottom:20px;
}
.info-t>ul>li{
	width: 80px;
	float: left;
	font-size: 14px;
}

.info-t>ul .icon{
	width: 30px;
}
.info-t>ul .index{
	width:55px;
}
#info .myoder-info-content{
	width:1200px;
	margin:0 auto;
}
#info .myoder-info-content:after{
	content:'';
	display:block;
	clear:both;
}

/*左边导航部分*/
#info .info-l{
	height: 350px;
	width: 250px;
	padding-top: 30px;
	background-color: white;
	float:left;
}
#info .info-l ul{
	width: 250px;
}
#info .info-l li{
	width: 250px;
	text-align:center;
	height:50px;
	float: none;
	font-size: 17px;
	line-height: 50px;
	font-size:14px;
	color:black;
}
#info .info-l li a{
	font-size:14px;
	color:black;
}
#info .info-l .active{
	border-left: 2px solid #000000;
	background-color: #E3E3E3;
}


/*右边展示部分*/
.info_r{
	width: 900px;
	background-color: white;
	margin-left:30px;
	float: left;
	padding:30px 30px 0px 30px;
}
.info_r:after{
	content:'';
	display:block;
	clear:both;
}
.info_r .info_r-list{
	margin-top: 30px;
	height: 35px;
	width:840px;
	border-bottom: 2px solid #E3E3E3;	
}
.info_r ul li{
	height: 35px;
	float: left;
	font-size: 18px;
	width:140px;
	text-align: center;
}
#info .info-l li a{
	font-size:14px;
	color:black;
}
.info_r .info_r-list .active{
	font-weight: 700;
	border-bottom:2px solid black;
}
/*渲染数据部分 */
.info_r-head{
	margin-top:30px;	
}
.info_r-head ul:after{
	content:'';
	display:block;
	clear:both;
}


.info_r-head>ul>li{
	text-align:center;
	font-weight:500;
	line-height:40px;
	float: left;
	width:110px;
	font-size:17px;
}
.info_r-head>.myoder>li{
	color:#222;
	text-align:center;
	float: left;
	width:110px;
	height:50px;
	font-size:15px;
	line-height:50px;
}
.info_r-head>ul .caozu{
	width:180px;
}
.info_r-head>.myoder .caozu{
	width:180px;
}
