			
#info{
	width: 100%;
	background-color: #E6E6E6;
	padding-top:30px;
}
#info>.info-bg{
	width: 1200px;
	margin:0px auto;
}
#info>.info-coll-content{
	width: 1200px;
	margin:0px auto;
}

#info>.info-coll-content:after{
	display:block;
	content:'';
	clear:both;
}

.info-t>ul{
	height: 20px;
	margin-bottom:20px;
}
.info-t>ul>li{
	width: 80px;
	float: left;
	font-size: 14px;
}

.info-t>ul .icon{
	width: 30px;
}
.info-t>ul .index{
	width:55px;
}

/*左边导航部分*/
#info>.info-coll-content>.info-l{
	height: 350px;
	width: 250px;
	padding-top: 30px;
	background-color: white;
	float:left;
}
#info .info-l ul{
	width: 250px;
}
#info .info-l li{
	width: 250px;
	text-align:center;
	height:50px;
	float: none;
	font-size: 17px;
	line-height: 50px;
	font-size:14px;
	color:black;
}
#info .info-l li a{
	font-size:14px;
	color:black;
}
#info .info-l .active{
	border-left: 2px solid #000000;
	background-color: #E3E3E3;
}

/*右边展示部分*/
.info_r{
	width: 760px;
	height: 300px;
	background-color: white;
	margin-left:30px;
	float: right;
	padding:40px 70px 60px;
	position:relative;
}
.info_r .info_r-list{
	margin-top: 30px;
	height: 35px;
	width:840px;
	/*border-bottom: 2px solid #E3E3E3;*/	
}
/*个人信息修改css*/
.info_r ul li{
	width: 800px;
	height: 40px;
	margin-bottom: 20px;
}

.list-lable{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	margin-bottom: 0;
	width: 80px;height: 40px;
}

.info_r ul li input{
	width: 400px;
	height: 40px;
	padding: 6px 12px;
}

p{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	margin-bottom: 0;
	height: 40px;
}
.title-about{
	width: 80px;height: 40px;
	font-size: 20px;
	font-weight: bold;
	float: left;
}
.updatePass{
	float: right;
	cursor: pointer;
}
updatePass a:hover{
	text-decoration:none;
}
button{
	border:none;
	margin-top:20px;
	width: 230px;height: 40px;
	color: #FFFFFF;
	background: #222;
	padding: 0px 12px;
	font-size: 14px;
	position: absolute;
	left: 156px;
}
